BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "clk" 53.200000 MHz ;
LOCATE COMP "sw[0]" SITE "1" ;
LOCATE COMP "sw[1]" SITE "2" ;
LOCATE COMP "sw[2]" SITE "3" ;
IOBUF PORT "clkExtOsc" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=SMALL ;
USE PRIMARY NET "clkRC" ;
LOCATE COMP "clkExtOsc" SITE "5" ;
LOCATE COMP "ledOut[0]" SITE "97" ;
LOCATE COMP "ledOut[1]" SITE "98" ;
LOCATE COMP "ledOut[2]" SITE "99" ;
LOCATE COMP "ledOut[3]" SITE "100" ;
LOCATE COMP "ledOut[4]" SITE "104" ;
LOCATE COMP "ledOut[5]" SITE "105" ;
LOCATE COMP "ledOut[6]" SITE "106" ;
LOCATE COMP "ledOut[7]" SITE "107" ;
LOCATE COMP "RXIN0" SITE "40" ;
IOBUF PORT "RXIN0" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "RXIN1" SITE "38" ;
LOCATE COMP "RXIN2" SITE "44" ;
LOCATE COMP "CK1IN" SITE "42" ;
LOCATE COMP "ERXIN0" SITE "49" ;
LOCATE COMP "ERXIN1" SITE "47" ;
LOCATE COMP "ERXIN2" SITE "55" ;
LOCATE COMP "ECK1IN" SITE "52" ;
IOBUF PORT "CK1IN" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "ECK1IN" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "ERXIN0" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "ERXIN1" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "ERXIN2" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "RXIN1" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "RXIN2" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "LCK1IN" SITE "120" ;
LOCATE COMP "LRXIN0" SITE "119" ;
LOCATE COMP "LRXIN1" SITE "117" ;
LOCATE COMP "LRXIN2" SITE "115" ;
LOCATE COMP "LTRIG" SITE "114" ;
LOCATE COMP "LTRIG2" SITE "113" ;
USE PRIMARY NET "clk" ;
